<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<hr class="my-4">
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Hello in portfolio manager</h1>
</div>
<div class="container mt-5 mb-5">
    <h1>Log in</h1>
    <div>
        <form th:method="POST" th:action="@{/perform-login}" th:object="${user}">
            <div style="color:red" th:if="${param.error}">Bad login or password</div>
            <input type="text" placeholder="Input login." class="form-control" id="login" th:field="*{login}">
            <br>
            <input type="password" placeholder="Input password." class="form-control" id="password" th:field="*{password}">
            <br>
            <button class="w-100 btn btn-primary btn-lg" type="submit">Login</button>
        </form>
        <br>
        <form th:method="POST" th:action="@{/registration}">
            <button class="w-100 btn btn-primary btn-lg" type="submit">Registration</button>
        </form>
    </div>
</div>
</body>
</html>